.aside {
  position: absolute;
  bottom: 40px;
  font-weight: 300;
  text-align: center;
  font-style: oblique;
}
body {
  background-color: #FAF2F0;
}

.btn-default {
  margin-top: 20px;
  background: #B00C59;
  color: white;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  margin-top: 20px;
  background: #a70c54;
  color: white;
}

.col-sm-2 {
  /*background-color: #FFF;*/
  border-radius: 10px;
  padding: 4% 2%;
  margin-top: 90px;
  border-right: 1px solid #ffffff;
  height: 500px;
}

.edit-detail {
  margin-top: 40px;
}

.edit-meal {
  margin-top: 140px;
  margin-left: 3%;
  border-radius: 10px;
  background-color: white;
  height: 400px;
  padding: 2% 5%;
  text-align: center;
  opacity: 90%;
}

.entry {
  font-size: 1.5em;
  font-weight: 300;
}

h1 {
  /*color: #F8E6E4;*/
  color: #F46D6A;
}

h2 {
  color: #2a94bb;
}

h4 {
  color: #2a94bb;
  font-weight: bold;
}

h5 {
  line-height: .5em;
  color: #1F4669;
  letter-spacing: .5px;
}

.img {
  width: auto;
  height: 3px;
}

label {
  margin-top: 10px;
}

.meal-form {
  margin-top: 140px;
  margin-left: 3%;
  border-radius: 10px;
  background-color: white;
  height: 400px;
  padding: 2% 5%;
  opacity: 90%;
}

nav {
  padding-left: 40px;
  padding-bottom: 20px;
}

.navbar {
  border-bottom: 1px solid #58B7D9;
  background-color: #f9eeec;
  padding-left: 5%;
}

p {
  color: #1F4669;
  font-size: 1.25em;
}

p:hover {
  color: #92225B;
}

.selected {
  color: #92225B;
}
